<nav>
  <a class="btn" href="<%= relative_url('/') %>">Home</a>
  <a class="btn" href="<%= relative_url('/about') %>">Who Am I</a>
  <a class="btn" href="<%= relative_url('/posts') %>">Posts</a>
</nav>
